<% if current_user %>
    <h2>Welcome, <%=current_user.email%>!</h2>
<% end %>
<%= form_with url: '/profile', method: :get, local: true do |form|%>
    <h1>Assessment Track</h1>
    <%= form.select :track, [["SOF Maritime Contract",'sof_mar_cont'],["SOF Land Contract",'sof_land_cont'],['SOF Maritime Prep','sof_mar_prep'], ['SOF Land Prep','sof_land_prep'], ['Operator - Short','operator_short'], ['Operator - Long','operator_long'], ['HRT','hrt'], ['LEO','leo'], ['Fire Urban','fire_urban'], ['Fire Wildland','fire_wildland']], required: true %>
    <br>
    <br>
    <%= form.submit "Select Track" %>
<% end %> 

<% if @track != nil %>
    <% if @track == 'sof_land_cont' %>
        <h2>SOF Land Contract Assessments</h2>
    <% elsif @track == 'sof_mar_cont' %>
        <h2>SOF Maritime Contract Assessments</h2>
    <% elsif @track == 'sof_land_prep' %>
        <h2>SOF Land Prep Assessments</h2>
    <% elsif @track == 'operator_short' %>
        <h2>Operator(short) Assessments</h2>
    <% elsif @track == 'operator_long' %>
        <h2>Operator(long) Assessments</h2>
    <% elsif @track == 'hrt' %>
        <h2>HRT Assessments</h2>
    <% elsif @track == 'leo' %>
        <h2>LEO Assessments</h2>
    <% elsif @track == 'fire_urban' %>
        <h2>Fire - Urban Assessments</h2>
    <% elsif @track == 'fire_wildland' %>
        <h2>Fire - Wildland Assessments</h2>
    <% else %>
        <h2>SOF Maritime Prep Assessments</h2>
    <% end %>
    <%= form_with url: '/profile', method: :post, local: true do |form|%>
        <% if @track == 'sof_mar_cont'  || @track == 'sof_land_cont' || @track == 'operator_long' ||  @track == 'hrt' ||  @track == 'fire_wildland' %>
            <h3>8 Mile / 12.9 km Ruck:</h3>
            <%= form.label :hours %>
            <%= form.number_field :ruck_hours, in: 0..4, required: true %>
            <%= form.label :minutes %>
            <%= form.number_field :ruck_minutes, in: 0..59, required: true %>
            <h3>5 Mile Run:</h3>
            <%= form.label :minutes %>
            <%= form.number_field :five_mile_minutes, in: 0..59, required: true %>
            <%= form.label :seconds %>
            <%= form.number_field :five_mile_seconds, in: 0..59, required: true %>
        <% end %>
        <% if @track == 'sof_mar_cont' %>
            <h3>2000m Swim:</h3>
            <%= form.label :minutes %>
            <%= form.number_field :two_thousand_swim_minutes, in: 0..59, required: true %>
            <%= form.label :seconds %>
            <%= form.number_field :two_thousand_swim_seconds, in: 0..59, required: true %>
        <% end %>
        <% if @track == 'sof_mar_prep' || @track == 'sof_land_prep' || @track == 'leo' || @track == 'fire_urban' %>
            <h3>4-Mile Ruck or 3-Mile Run:</h3>
            <%= form.select :prep_run_or_ruck, [["4 Mile Ruck",'4 Mile Ruck'],["3 Mile Run",'3 Mile Run']], required: true %>
            <%= form.label :hours %>
            <%= form.number_field :ruck_or_run_hours, in: 0..4, value: 0, required: true %>
            <%= form.label :minutes %>
            <%= form.number_field :ruck_or_run_minutes, in: 0..59, required: true %>
        <% end %>
        <% if @track == 'operator_short' %>
            <h3>4-Mile Ruck or 5-Mile Run:</h3>
            <%= form.select :operator_run_or_ruck, [["4 Mile Ruck",'4 Mile Ruck'],["5 Mile Run",'5 Mile Run']], required: true %>
            <%= form.label :hours %>
            <%= form.number_field :operator_ruck_or_run_hours, in: 0..2, value: 0, required: true %>
            <%= form.label :minutes %>
            <%= form.number_field :operator_ruck_or_run_minutes, in: 0..59, required: true %>
        <% end %>
        <% if @track == 'fire_wildland' %>
            <h3>4-Mile Ruck:</h3>
            <%= form.label :hours %>
            <%= form.number_field :four_mile_ruck_hours, in: 0..2, value: 0, required: true %>
            <%= form.label :minutes %>
            <%= form.number_field :four_mile_ruck_minutes, in: 0..59, required: true %>
        <% end %>
        <% if @track != 'hrt' %>
            <h3>1.5-Mile / 2.4-km Run:</h3>
            <%= form.label :minutes %>
            <%= form.number_field :one_and_half_mile_run_minutes, in: 0..30, required: true %>
            <%= form.label :seconds %>
            <%= form.number_field :one_and_half_mile_run_seconds, in: 0..59, required: true %>
        <% end %>
        <% if @track == 'hrt' %>
            <h3>2-Mile / 3.2-km Run:</h3>
            <%= form.label :minutes %>
            <%= form.number_field :two_mile_run_minutes, in: 0..30, required: true %>
            <%= form.label :seconds %>
            <%= form.number_field :two_mile_run_seconds, in: 0..59, required: true %>
        <% end %>
        <% if @track == 'sof_mar_cont' || @track == 'sof_mar_prep' %>
            <h3>500m Swim:</h3>
            <%= form.label :minutes %>
            <%= form.number_field :five_hundred_swim_minutes, in: 0..20, required: true %>
            <%= form.label :seconds %>
            <%= form.number_field :five_hundred_swim_seconds, in: 0..59, required: true %>
        <% end %>
        <h3>400m Run:</h3>
        <%= form.label :minutes %>
        <%= form.number_field :four_hundred_run_minutes, in: 0..5, required: true %>
        <%= form.label :seconds %>
        <%= form.number_field :four_hundred_run_seconds, in: 0..59, required: true %>
        <h3>Pushups:</h3>
        <%= form.label :reps %>
        <%= form.number_field :pushup_reps, in: 0..150, required: true %>
        <h3>Pull-ups:</h3>
        <%= form.label :reps %>
        <%= form.number_field :pullup_reps, in: 0..50, required: true %>
        <% if @track == 'hrt' %>
            <h3>Dips:</h3>
            <%= form.label :reps %>
            <%= form.number_field :dip_reps, in: 0..50, required: true %>
        <% end %>
        <h3>Hang:</h3>
        <%= form.label :minutes %>
        <%= form.number_field :hang_minutes, in: 0..5, required: true %>
        <%= form.label :seconds %>
        <%= form.number_field :hang_seconds, in: 0..59, required: true %>
        <h3>Strength Work Units:</h3>
        <%= form.radio_button :units, "imperial", required: true %>
        <%= form.label :units, "Freedom Units (pounds)" %>
        <%= form.radio_button :units, "metric" %>
        <%= form.label :units, "Metric (kilograms)" %>
        <h3>Current Bodyweight:</h3>
        <%= form.label :weight %>
        <%= form.number_field :body_weight, in: 0..999, required: true %>
        <% if @track == 'operator_short' || @track == 'operator_long'  %>
            <h3>TGU:</h3>
            <%= form.label :weight %>
            <%= form.number_field :tgu_weight, in: 0..99, required: true %>
        <% end %>
        <h3>Squat:</h3>
        <%= form.select :squat, [["Back Squat",'Back Squat'],["Front Squat",'Front Squat']], required: true %>
        <%= form.label :weight %>
        <%= form.number_field :squat_weight, in: 0..999, required: true %>
        <h3>Deadlift:</h3>
        <%= form.select :deadlift, [["Trap Bar",'Trap Bar'],["Straight Bar",'Straight Bar']], required: true %>
        <%= form.label :weight %>
        <%= form.number_field :deadlift_weight, in: 0..999, required: true %>
        <h3>Press:</h3>
        <%= form.select :press, [["Bench Press",'Bench Press'],["Overhead Press (1 Arm)",'Overhead Press (1 Arm)']], required: true %>
        <%= form.label :weight %>
        <%= form.number_field :press_weight, in: 0..999, required: true %>
        <h3>Weighted Pull-up:</h3>
        <%= form.label :weight %>
        <%= form.number_field :pullup_weight, in: 0..999, required: true %>
        <br>
        <br>
        <%= form.hidden_field :profile, :value => @track %>
        <%= form.submit "Submit Results" %>
    <% end %>
<% end %>