<script src = "https://cdn.jsdelivr.net/npm/apexcharts" > </script>
<h1>Your Profiles (Assessments)</h1>
<p>Each graph shows your progress over time. Hover for details.</p>
<h3>Profile and Category Scores Over Time</h3>
<div class = "secondary_chart">
    <% line_series = [
        {name: "Total Score", data: @total_scores},
        {name: "Strength Score", data: @strength_scores},
        {name: "Conditioning Score", data: @conditioning_scores},
        {name: "Work Capacity Score", data: @work_capacity_scores}
    ] %>
    <% options = {
        title: {text: 'Profile Scores', style:{fontSize: '25px', fontWeight: 'bold', color: "#fcf8f7" }},
        ytitle: 'Score',
        xaxis: {labels: {show: true, style:{fontSize: '16px', fontWeight: 'bold', colors: "#fcf8f7" }}}, 
        yaxis: {min: 0, max: 100, tickAmount: 5, labels: {show: true, style:{fontSize: '20px', fontWeight: 'bold', colors: "#fcf8f7" }}, title: { text: "Score", style:{fontSize: '16px', fontWeight: 'bold', color: "#fcf8f7" }}}, 
        stroke: { curve: 'smooth' },
        legend:  { fontSize: '16px', fontWeight: 'bold', labels: { colors: "#fcf8f7", useSeriesColors: false }, itemMargin: { horizontal: 20, vertical: 0 }},
        markers: { size: 5 },
        dataLabels: { enabled: true, style: { fontSize: '16px', fontWeight: 'bold'}},
        tooltip: { theme: 'dark', style: { fontSize: '16px', fontWeight: 'bold'}}
        } %>
    <%= line_chart(line_series, options) %>
</div>
<h3>Your Profiles</h3>
<table>
    <tr>
        <th>Track</th>
        <th>Created At</th>
        <th>View</th>
    </tr>
    <% if @profiles != nil %>
        <% @profiles.each do |profile| %>
        <tr>
            <% if profile.track == 'sof_land_cont' %>  
                <td>SOF Land Contract</td>
            <% elsif profile.track == 'sof_mar _cont' %>
                <td>SOF Maritime Contract</td>
            <% elsif profile.track == 'sof_land_prep' %>
                <td>SOF Land Prep</td>
            <% elsif profile.track == 'operator_short' %>
                <td>Operator(short)</td>
            <% elsif profile.track == 'operator_long' %>
                <td>Operator(long)</td>
            <% elsif profile.track == 'hrt' %>
                <td>HRT</td>
            <% elsif profile.track == 'leo' %>
                <td>LEO</td>
            <% elsif profile.track == 'fire_urban' %>
                <td>Fire - Urban</td>
            <% elsif profile.track == 'fire_wildland' %>
                <td>Fire - Wildland</td>
            <% elsif profile.track == 'civilian' %>
                <td>Civilian</td>
            <% else %>
                <td>SOF Maritime Prep</td>
            <% end %>
            <td><%= profile.created_at.strftime("%b %d, %Y") %></td>
            <td><%= button_to 'View', '/results', params: {admin_profile_id: profile.id}, method: :get %></td>
        </tr>
        <% end %>
    <% end %>
</table>
<h3>Strength Scores Over Time</h3>
<div class = "secondary_chart">
    <% line_series_2 = [
        {name: "Total Score", data: @strength_scores},
        {name: "Upper Body Strength Score", data: @strength_upper_scores},
        {name: "Lower Body Strength Score", data: @strength_lower_scores}
    ] %>
    <% options_2 = {
        title: {text: 'Strength Scores', style:{fontSize: '25px', fontWeight: 'bold', color: "#fcf8f7" }},
        ytitle: 'Score',
        xaxis: {labels: {show: true, style:{fontSize: '16px', fontWeight: 'bold', colors: "#fcf8f7" }}}, 
        yaxis: {min: 0, max: 100, tickAmount: 5, labels: {show: true, style:{fontSize: '20px', fontWeight: 'bold', colors: "#fcf8f7" }}, title: { text: "Score", style:{fontSize: '16px', fontWeight: 'bold', color: "#fcf8f7" }}}, 
        stroke: { curve: 'smooth' },
        legend:  { fontSize: '16px', fontWeight: 'bold', labels: { colors: "#fcf8f7", useSeriesColors: false }, itemMargin: { horizontal: 20, vertical: 0 }},
        markers: { size: 5 },
        dataLabels: { enabled: true, style: { fontSize: '16px', fontWeight: 'bold'}},
        tooltip: { theme: 'dark', style: { fontSize: '16px', fontWeight: 'bold'}}
        } %>
    <%= line_chart(line_series_2, options_2) %>
</div>

<h3>Conditioning Scores Over Time</h3>
<div class = "secondary_chart">
    <% line_series_3 = [
        {name: "Total Score", data: @conditioning_scores},
        {name: "Extended Capacity", data: @extended_capacity_scores},
        {name: "Capacity", data: @capacity_scores},
        {name: "Extended Power", data: @extended_power_scores},
        {name: "Power", data: @power_scores}
    ] %>
    <% options_3 = {
        title: {text: 'Conditioning Scores', style:{fontSize: '25px', fontWeight: 'bold', color: "#fcf8f7" }},
        ytitle: 'Score',
        xaxis: {labels: {show: true, style:{fontSize: '16px', fontWeight: 'bold', colors: "#fcf8f7" }}}, 
        yaxis: {min: 0, max: 100, tickAmount: 5, labels: {show: true, style:{fontSize: '20px', fontWeight: 'bold', colors: "#fcf8f7" }}, title: { text: "Score", style:{fontSize: '16px', fontWeight: 'bold', color: "#fcf8f7" }}}, 
        stroke: { curve: 'smooth' },
        legend:  { fontSize: '16px', fontWeight: 'bold', labels: { colors: "#fcf8f7", useSeriesColors: false }, itemMargin: { horizontal: 20, vertical: 0 }},
        markers: { size: 5 },
        dataLabels: { enabled: true, style: { fontSize: '16px', fontWeight: 'bold'}},
        tooltip: { theme: 'dark', style: { fontSize: '16px', fontWeight: 'bold'}}
        } %>
    <%= line_chart(line_series_3, options_3) %>
</div>
<h3>Strength Movement Maxes Over Time</h3>
<div class = "secondary_chart">
    <% line_series_4 = [
        {name: "Goblet Squat", data: @goblet_squat_scores},
        {name: "Front Squat", data: @front_squat_scores},
        {name: "Back Squat", data: @back_squat_scores},
        {name: "Trap Bar DL", data: @trap_bar_scores},
        {name: "Straight Bar DL", data: @straight_bar_scores}
    ] %>
    <% options_4 = {
        title: {text: 'Lower Body Strength Movement 1RMs', style:{fontSize: '25px', fontWeight: 'bold', color: "#fcf8f7" }},
        ytitle: 'Weight',
        xaxis: {type: 'category', labels: {show: true, style:{fontSize: '16px', fontWeight: 'bold', colors: "#fcf8f7" }}}, 
        yaxis: {min: 0, max: 500, tickAmount: 5, labels: {show: true, style:{fontSize: '20px', fontWeight: 'bold', colors: "#fcf8f7" }}, title: { text: "Weight", style:{fontSize: '16px', fontWeight: 'bold', color: "#fcf8f7" }}}, 
        stroke: { curve: 'smooth' },
        legend:  { fontSize: '16px', fontWeight: 'bold', labels: { colors: "#fcf8f7", useSeriesColors: false }, itemMargin: { horizontal: 20, vertical: 0 }},
        markers: { size: 5 },
        dataLabels: { enabled: true, style: { fontSize: '16px', fontWeight: 'bold'}},
        tooltip: { theme: 'dark', style: { fontSize: '16px', fontWeight: 'bold'}}
        } %>
    <%= line_chart(line_series_4, options_4) %>
</div>
<div class = "secondary_chart">
    <% line_series_5 = [
        {name: "DB Bench Press", data: @db_bench_press_scores},
        {name: "DB Row", data: @db_row_scores},
        {name: "Weighted Pullup", data: @weighted_pullup_scores},
        {name: "Barbell Bench Press", data: @bench_press_scores},
        {name: "Overhead Press (1 Arm)", data: @overhead_press_scores}
    ] %>
    <% options_5 = {
        title: {text: 'Upper Body Strength Movement 1RMs', style:{fontSize: '25px', fontWeight: 'bold', color: "#fcf8f7" }},
        ytitle: 'Weight',
        xaxis: {type: 'category', labels: {show: true, style:{fontSize: '16px', fontWeight: 'bold', colors: "#fcf8f7" }}}, 
        yaxis: {min: 0, max: 300, tickAmount: 3, labels: {show: true, style:{fontSize: '20px', fontWeight: 'bold', colors: "#fcf8f7" }}, title: { text: "Weight", style:{fontSize: '16px', fontWeight: 'bold', color: "#fcf8f7" }}}, 
        stroke: { curve: 'smooth' },
        legend:  { fontSize: '16px', fontWeight: 'bold', labels: { colors: "#fcf8f7", useSeriesColors: false }, itemMargin: { horizontal: 20, vertical: 0 }},
        markers: { size: 5 },
        dataLabels: { enabled: true, style: { fontSize: '16px', fontWeight: 'bold'}},
        tooltip: { theme: 'dark', style: { fontSize: '16px', fontWeight: 'bold'}}
        } %>
    <%= line_chart(line_series_5, options_5) %>
</div>
<div class = "secondary_chart">
    <% line_series_6 = [
        {name: "Pushups", data: @pushup_scores},
        {name: "Pullups", data: @pullup_scores},
        {name: "Dips", data: @dip_scores},
        {name: "Hang (duration in seconds)", data: @hang_scores}
    ] %>
    <% options_6 = {
        title: {text: 'Work Capacity Movements', style:{fontSize: '25px', fontWeight: 'bold', color: "#fcf8f7" }},
        ytitle: 'Reps',
        xaxis: {type: 'category', labels: {show: true, style:{fontSize: '16px', fontWeight: 'bold', colors: "#fcf8f7" }}}, 
        yaxis: {min: 0, max: 120, tickAmount: 3, labels: {show: true, style:{fontSize: '20px', fontWeight: 'bold', colors: "#fcf8f7" }}, title: { text: "Weight", style:{fontSize: '16px', fontWeight: 'bold', color: "#fcf8f7" }}}, 
        stroke: { curve: 'smooth' },
        legend:  { fontSize: '16px', fontWeight: 'bold', labels: { colors: "#fcf8f7", useSeriesColors: false }, itemMargin: { horizontal: 20, vertical: 0 }},
        markers: { size: 5 },
        dataLabels: { enabled: true, style: { fontSize: '16px', fontWeight: 'bold'}},
        tooltip: { theme: 'dark', style: { fontSize: '16px', fontWeight: 'bold'}}
        } %>
    <%= line_chart(line_series_6, options_6) %>
</div>
<div class = "secondary_chart">
    <% line_series_7 = [
        {name: "4-Mile Ruck", data: @four_mile_ruck_scores},
        {name: "8-Mile Ruck", data: @extended_capacity_scores},
        {name: "5-Mile Run", data: @five_mile_run_scores},
        {name: "3-Mile Run", data: @three_mile_run_scores},
        {name: "2000m Swim", data: @two_thousand_swim_scores},
        {name: "10k Row", data: @ten_thousand_row_scores},
        {name: "1.5-Mile Run", data: @one_half_mile_run_scores},
        {name: "500m Swim", data: @five_hundred_swim_scores},
        {name: "2000m Row", data: @two_thousand_row_scores},
        {name: "2-Mile Run", data: @two_mile_run_scores},
        {name: "400m Run", data: @four_hundred_run_scores},
        {name: "500m Row", data: @five_hundred_row_scores}
    ] %>
    <% options_7 = {
        title: {text: 'Conditioning Movements', style:{fontSize: '25px', fontWeight: 'bold', color: "#fcf8f7" }},
        ytitle: 'Minutes',
        xaxis: {type: 'category', labels: {show: true, style:{fontSize: '16px', fontWeight: 'bold', colors: "#fcf8f7" }}}, 
        yaxis: {min: 0, max: 125, tickAmount: 5, labels: {show: true, style:{fontSize: '20px', fontWeight: 'bold', colors: "#fcf8f7" }}, title: { text: "Weight", style:{fontSize: '16px', fontWeight: 'bold', color: "#fcf8f7" }}}, 
        stroke: { curve: 'smooth' },
        legend:  { fontSize: '16px', fontWeight: 'bold', labels: { colors: "#fcf8f7", useSeriesColors: false }, itemMargin: { horizontal: 20, vertical: 0 }},
        markers: { size: 5 },
        dataLabels: { enabled: true, style: { fontSize: '16px', fontWeight: 'bold'}},
        tooltip: { theme: 'dark', style: { fontSize: '16px', fontWeight: 'bold'}}
        } %>
    <%= line_chart(line_series_7, options_7) %>
</div>