<h1>Welcome <%= @admin.email %></h1>

<h3>Search for Profiles:</h3>

<%= form_with url: "/admin", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

    <table>
        <tr>
            <th>User</th>
            <th>Track</th>
            <th>Created At</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        <% @profiles.each do |profile| %>
        <tr>
            <td><%= profile.user.email %></td>
            <% if profile.track == 'sof_land_cont' %>  
                <td>SOF Land Contract</td>
            <% elsif profile.track == 'sof_mar _cont' %>
                <td>SOF Maritime Contract</td>
            <% elsif profile.track == 'sof_land_prep' %>
                <td>SOF Land Prep</td>
            <% elsif profile.track == 'operator_short' %>
                <td>Operator(short)</td>
            <% elsif profile.track == 'operator_long' %>
                <td>Operator(long)</td>
            <% elsif profile.track == 'hrt' %>
                <td>HRT</td>
            <% elsif profile.track == 'leo' %>
                <td>LEO</td>
            <% elsif profile.track == 'fire_urban' %>
                <td>Fire - Urban</td>
            <% elsif profile.track == 'fire_wildland' %>
                <td>Fire - Wildland</td>
            <% elsif profile.track == 'civilian' %>
                <td>Civilian</td>
            <% else %>
                <td>SOF Maritime Prep</td>
            <% end %>
            <td><%= profile.created_at.strftime("%b %d, %Y") %></td>
            <td><%= button_to 'View', '/results', params: {admin_profile_id: profile.id}, method: :get %></td>
            <td><%= button_to 'Delete', '/admin', params: {admin_profile_id: profile.id}, method: :delete %></td>
        </tr>
        <% end %>
    </table>
