<!DOCTYPE html>
<html>
  <head>
    <title>BTE Profile App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class= "container" >
    <header class="item-a">
      <img id="compass" src="<%= asset_path('BTE profile gen.png') %>" width="400" height="120">
    </header>
    <nav class="item-b">      
        <% if current_user %>
          <%= link_to "New Profile", "/profile", {:class => "link"}%>
          <%= link_to "My Profiles", '/profiles', {:class => "link"} %>
            <% if current_user.profiles.count > 0 %>
              <%= link_to "Progress Tracking", '/progress', {:class => "link"} %>
            <% end %>
          <%= link_to "Logout", '/logout', method: :delete, :class => "link" %>
        <% end %>
    </nav>
    <section class = "item-c">
      <% flash.each do |name, msg|%>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <%= yield %>
    </section>
    <footer class="item-d"> © 2022 Building the Elite, LLC  </footer>
  </body>
</html>
